<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144482701982-9gabud1ie7dp8f39kve084hflp8cg7gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144482701982-9gabud1ie7dp8f39kve084hflp8cg7gl</string>
	<key>API_KEY</key>
	<string>AIzaSyBRy12lv9jPujdkI4v_koiDAxwfSG2sZBY</string>
	<key>GCM_SENDER_ID</key>
	<string>144482701982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nouhben.bestStarterArchitecture</string>
	<key>PROJECT_ID</key>
	<string>rate-my-pix</string>
	<key>STORAGE_BUCKET</key>
	<string>rate-my-pix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144482701982:ios:2b3a7a5f623e7e44bf618f</string>
</dict>
</plist>